[Unit]
Description=MQTT433 RTL433 Service
After=multi-user.target

[Service]
Type=idle
User=root
Environment=PYTHONPATH=$PYTHONPATH:/home/pi/.local/lib/python3.5/site-packages/
WorkingDirectory=/home/pi/mqtt433 
ExecStart=/usr/bin/python3 /home/pi/mqtt433/mqtt433.py
Restart=always

[Install]
WantedBy=multi-user.target

